<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.admin-mapper">
  <!-- admin -->
  <select id="reserveAdminListData" parameterType="string">
    SELECT no,ri.fno,id,rday,time,inwon,ok,
           name,phone,poster
    FROM reserve_info ri,menupan_food mf
    WHERE ri.fno=mf.fno
    ORDER BY no DESC
  </select>
</mapper>